<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href = "../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href = "../bower_components/paper-item/paper-item.html">
<link rel="import" href = "../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/web-animations-js/web-animations-next.min.html">
<link rel="import" href="../bower_components/vaadin-date-picker/vaadin-date-picker.html">


<dom-module id="account-detail">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }

      #btns-account-detail {
        margin: 24px;
      }

      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      tr:hover {background-color: #cccaca;}
    </style>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <iron-ajax
      auto
      id="geAccountAjax"
      url="http://localhost:3000/api-uruguay/v1/accounts{{accountid}}"
      method="get"
      handle-as="json"
      headers='{{_setReqHeaders()}}'
      last-response="{{account}}">
    </iron-ajax>
    <iron-ajax
      auto
      id="geTransactionsAjax"
      url="http://localhost:3000/api-uruguay/v1/accounts{{accountid}}/transactions"
      method="get"
      handle-as="json"
      headers='{{_setReqHeaders()}}'
      last-response="{{transactions}}">
    </iron-ajax>
    <iron-ajax
      id="deleteTransactionAjax"
      method="delete"
      url="http://localhost:3000/api-uruguay/v1/accounts{{accountid}}/transactions/{{transactionSelected}}"
      handle-as="json"
      headers='{{_setReqHeaders()}}'
      on-response="handleDeleteTransactionResponse">
    </iron-ajax>
    <iron-ajax
      id="filterTransactionsAjax"
      method="get"
      handle-as="json"
      headers='{{_setReqHeaders()}}'
      last-response="{{transactions}}">
    </iron-ajax>
    <div class="card">
      <p>Cuenta: <strong>{{account.id}}</strong></p>
      <p>Alias: <strong>{{account.description}}</strong></p>
      <p>Saldo: <strong>{{account.currency}} {{account.balance}}</strong></p>
    </div>

    <div class="wrapper-btns" id="btns-account-detail">
      <paper-button class="primary" on-tap="openFilterTransaction">
        Buscar
      </paper-button>
      <a href="[[rootPath]]create-transaction{{accountid}}">
        <paper-button class="primary" raised on-tap="openFilterTransaction">
          Transferir
        </paper-button>
      </a>
    </div>

    <template is="dom-if" if="{{showFilterPanel}}">
      <div class="card">
        <p>
          <paper-dropdown-menu label="Tipo de transacción">
            <paper-listbox slot="dropdown-content" selected="{{typeFilter}}" attr-for-selected="value">
              <paper-item value="internet_transfer">Transferencia por internet</paper-item>
              <paper-item value="salary_payment">Pago de sueldo</paper-item>
              <paper-item value="rent_payment">Alquiler</paper-item>
              <paper-item value="other_transfer">Otros</paper-item>
            </paper-listbox>
          </paper-dropdown-menu>
        </p>
        <p>
            <vaadin-date-picker id="start" value="{{startDate}}" label="Desde"></vaadin-date-picker>
            <vaadin-date-picker id="end" value="{{endDate}}" label="Hasta"></vaadin-date-picker>
        </p>
        <p>
          <div class="wrapper-btns">
            <paper-button raised class="primary" on-tap="filterTransactions">Aceptar</paper-button>
            <paper-button raised class="primary" on-tap="clearFilterTransactions">Limpiar</paper-button>
          </div>
        </p>
      </div>
    </template>

    <div id="btns-account-detail">
      <div style="overflow-x:auto;">
        <table is="s-table-lite" fixed-column>
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Descripción</th>
              <th>Tipo</th>
              <th>Destino</th>
              <th>Monto</th>
            </tr>
          </thead>
          <tbody>
              <template id="listTransactions" is="dom-repeat" items="{{transactions}}">
                <tr>
                  <td>{{item.date}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.typeName}}</td>
                  <td>{{item.otherAccount}}</td>
                  <td>${{item.amount}}</td>
                  <td>
                    <paper-button class="primary" raised on-tap="deleteTransaction">Eliminar</paper-button>
                  </td>
                </tr>
              </template>

          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
      class AccountDetail extends Polymer.Element {
          static get is() { return 'account-detail'; }

          static get properties() {
            accountid: {type: String}
            transactionSelected: {type: String}
            showFilterPanel: {type: Boolean}
            typeFilter: {type: String}
            startDate: {type: Date}
            endDate: {type: Date}
          }

          mostrarData() {
            console.log('Data:', this.idaccount);
          }

          _setReqHeaders() {
            let head = '{"authorization":"' + JSON.parse(window.localStorage.user_storage).access_token + '"}';
            return JSON.parse(head);
          }

          deleteTransaction(e) {
            this.transactionSelected = e.model.item.id;
            this.$.deleteTransactionAjax.generateRequest();
          }

          handleDeleteTransactionResponse(event) {
            this.$.geTransactionsAjax.generateRequest();

          }

          openFilterTransaction() {
            this.showFilterPanel = !this.showFilterPanel;
          }

          filterTransactions() {
            let existFilter = false;
            let typeFilterString = '';
            let startDateFilterString = '';
            let endDateFilterString = '';
            console.log(this.typeFilter);
            console.log(this.startDate);
            console.log(this.endDate);
            if (this.typeFilter != undefined && this.typeFilter != '') {
              existFilter = true;
              typeFilterString = '?type=' + this.typeFilter;
            }
            if (this.startDate != undefined && this.startDate != '') {
              if (existFilter) {
                startDateFilterString = '&startDate=' + this.startDate;
              } else {
                existFilter = true;
                startDateFilterString = '?startDate=' + this.startDate;
              }
            }
            if (this.endDate != undefined && this.endDate != '') {
              if (existFilter) {
                endDateFilterString = '&endDate=' + this.endDate;
              } else {
                endDateFilterString = '?endDate=' + this.endDate;
              }
            }
            this.$.filterTransactionsAjax.url = 'http://localhost:3000/api-uruguay/v1/accounts' + this.accountid + '/transactions' + typeFilterString + startDateFilterString + endDateFilterString;
            this.$.filterTransactionsAjax.generateRequest();
          }

          clearFilterTransactions() {
            this.typeFilter = null;
            this.startDate = null;
            this.endDate = null;
            this.$.geTransactionsAjax.generateRequest();
          }
      }

      window.customElements.define(AccountDetail.is, AccountDetail);
  </script>
</dom-module>
