<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="create-account.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">

<dom-module id="accounts-list">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .account {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        border-width: 10px;
        border-color: black;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
      .title {
        float: left;
        margin: 24px;
      }

      iron-list {
        overflow-y: hidden !important;
        overflow-x: hidden !important;
      }

      #btn_new_account {
        float: right;
        margin: 24px;
      }
    </style>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <app-location route="{{route}}"></app-location>

    <iron-ajax
      auto
      url="http://localhost:3000/api-uruguay/v1/accounts"
      method="get"
      handle-as="json"
      headers='{{_setReqHeaders()}}'
      last-response="{{accounts}}">
    </iron-ajax>
    <h1 class="title">Cuentas</h1>
    <div class="wrapper-btns" id="btn_accounts">
      <paper-button id="btn_new_account" class="primary" on-tap="goCreateAccount">Nueva cuenta</paper-button>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>

    <iron-list items="{{accounts}}" as="item">
      <template>
        <div class="account">
          <p>Cuenta: <strong>{{item.id}}</strong></p>
          <p>Alias: <strong>{{item.description}}</strong></p>
          <p>Saldo: <strong>{{item.currency}} {{item.balance}}</strong></p>
          <a href="[[rootPath]]account-detail/{{item.id}}">
            <paper-button class="primary">Detalles</paper-button>
          </a>
        </div>
        <br/>
      </template>
    </iron-list>
  </template>

  <script>
      class AccountsList extends Polymer.Element {
          static get is() { return 'accounts-list'; }

          static get properties() {
              return {

              };
          }

          _setReqHeaders() {
            let head = '{"authorization":"' + JSON.parse(window.localStorage.user_storage).access_token + '"}';
            return JSON.parse(head);
          }

          goCreateAccount(){
            this.set('route.path', '/create-account');
          }
      }

      window.customElements.define(AccountsList.is, AccountsList);
  </script>
</dom-module>
