<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href = "../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href = "../bower_components/paper-item/paper-item.html">
<link rel="import" href = "../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/web-animations-js/web-animations-next.min.html">


<dom-module id="create-account">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>

    <iron-ajax
      id="createAccountAjax"
      method="post"
      content-type="application/json"
      handle-as="text"
      headers='{{_setReqHeaders()}}'
      on-response="handleCreateAccountResponse"
      on-error="handleCreateAccountError">
    </iron-ajax>

    <iron-localstorage name="user_storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h1>Nueva cuenta</h1>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container>
          <label slot="input">Nombre</label>
          <iron-input slot="input" bind-value="{{formData.description}}">
            <input class="input-style" id="description" type="text" value="{{formData.description}}">
          </iron-input>
        </paper-input-container>

        <paper-dropdown-menu label="Moneda">
          <paper-listbox slot="dropdown-content" selected="{{formData.currency}}" attr-for-selected="value">
            <paper-item value="UYU">Pesos</paper-item>
            <paper-item value="USD">Dólares</paper-item>
            <paper-item value="EUR">Euros</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>

        <div class="wrapper-btns">
          <paper-button class="primary" on-tap="postCreateAccount">Crear</paper-button>
          <paper-button class="primary" on-tap="cancelCreateAccount">Cancelar</paper-button>
        </div>
      </div>
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h2>Hola, [[storedUser.name]]!</h2>
        <log-out stored-user="{{storedUser}}"></log-out>
      </div>
    </div>
  </template>

  <script>
      class CreateAccount extends Polymer.Element {
          static get is() { return 'create-account'; }

          static get properties() {
              return {
                  formData: {
                      type: Object,
                      value: {}
                  },
                  loginData: {
                      type: Object,
                      value: {}
                  },
                  storedUser: Object,
                  error: String
              }
          }

          _setReqHeaders() {
            let head = '{"authorization":"' + JSON.parse(window.localStorage.user_storage).access_token + '"}';
            return JSON.parse(head);
          }

          _setReqBody() {
            this.formData.balance = 0;
            this.$.createAccountAjax.body = this.formData;
          }

          postCreateAccount() {
            this.$.createAccountAjax.url = 'http://localhost:3000/api-uruguay/v1/accounts';
            this._setReqBody();
            this.$.createAccountAjax.generateRequest();
          }

          handleCreateAccountResponse(event) {
            var response = JSON.parse(event.detail.response);
            this.set('route.path', '/account-detail/' + response.id);
          }

          handleCreateAccountError(event) {
            this.error = event.detail.response;
          }

          handleCreateAccountError(event) {
            this.error = event.detail.response;
          }

          cancelCreateAccount(){
            this.formData = {};
            this.set('route.path', '/accounts-list');
          }
      }

      window.customElements.define(CreateAccount.is, CreateAccount);
  </script>
</dom-module>
