<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">
<link rel = "import" href = "../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel = "import" href = "../bower_components/paper-item/paper-item.html">
<link rel = "import" href = "../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/web-animations-js/web-animations-next.min.html">

<dom-module id="create-transaction">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>

    <iron-ajax
      id="createTransactionAjax"
      method="post"
      content-type="application/json"
      handle-as="text"
      headers='{{_setReqHeaders()}}'
      on-response="handleCreateTransactionResponse"
      on-error="handleCreateTransactionError">
    </iron-ajax>

    <iron-localstorage name="user_storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h1>Transferir</h1>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container>
          <label slot="input">Concepto</label>
          <iron-input slot="input" bind-value="{{formData.description}}">
            <input class="input-style" id="description" type="text" value="{{formData.description}}">
          </iron-input>
        </paper-input-container>

        <paper-dropdown-menu label="Tipo de transacción">
          <paper-listbox slot="dropdown-content" selected="{{formData.type}}" attr-for-selected="value">
            <paper-item value="internet_transfer">Transferencia por internet</paper-item>
            <paper-item value="salary_payment">Pago de sueldo</paper-item>
            <paper-item value="rent_payment">Alquiler</paper-item>
            <paper-item value="other_transfer">Otros</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>

        <paper-input-container>
          <label slot="input">Cuenta destino</label>
          <iron-input slot="input" bind-value="{{formData.accountsIdReceiver}}">
            <input class="input-style" id="accountsIdReceiver" type="text" value="{{formData.accountsIdReceiver}}">
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Monto</label>
          <iron-input slot="input" bind-value="{{formData.amount}}">
            <input class="input-style" id="amount" type="text" value="{{formData.amount}}">
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button class="primary" on-tap="postCreateTransaction">Crear</paper-button>
          <paper-button class="primary" on-tap="cancelCreateTransaction">Cancelar</paper-button>
        </div>
      </div>
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h2>Hola, [[storedUser.name]]!</h2>
        <log-out stored-user="{{storedUser}}"></log-out>
      </div>
    </div>
  </template>

  <script>
      class CreateTransaction extends Polymer.Element {
          static get is() { return 'create-transaction'; }

          static get properties() {
              return {
                  formData: {
                      type: Object,
                      value: {}
                  },
                  loginData: {
                      type: Object,
                      value: {}
                  },
                  accountid: String,
                  storedUser: Object,
                  error: String
              }
          }

          _setReqHeaders() {
            let head = '{"authorization":"' + JSON.parse(window.localStorage.user_storage).access_token + '"}';
            return JSON.parse(head);
          }

          _setReqBody() {
            this.formData.date = new Date();
            this.$.createTransactionAjax.body = this.formData;
          }

          postCreateTransaction() {
            this.$.createTransactionAjax.url = 'http://localhost:3000/api-uruguay/v1/accounts' + this.accountid + '/transactions';
            this._setReqBody();
            this.$.createTransactionAjax.generateRequest();
          }

          handleCreateTransactionResponse(event) {

            this.set('route.path', '/account-detail' + this.accountid);
          }

          handleCreateTransactionError(event) {
            this.error = event.detail.response;
          }

          cancelCreateTransaction() {
            this.formData = {};
            this.set('route.path', '/account-detail');
          }
      }

      window.customElements.define(CreateTransaction.is, CreateTransaction);
  </script>
</dom-module>
