<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">

<dom-module id="login-user">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>

    <iron-ajax
      id="registerLoginAjax"
      method="post"
      content-type="application/json"
      handle-as="text"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>

    <iron-localstorage name="user_storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h1>Registro</h1>

        <p><strong>Ingrese</strong> o <strong>registrese</strong> para acceder a Bancuy</p>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container>
          <label slot="input">Usuario</label>
          <iron-input slot="input" bind-value="{{formData.username}}">
            <input class="input-style" id="username" type="text" value="{{formData.username}}">
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Contraseña</label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <input id="password" type="password" value="{{formData.password}}">
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="postLogin">Ingresar</paper-button>
          <paper-button class="primary" on-tap="postRegister">Registrase</paper-button>
        </div>
      </div>
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <home-bank stateAccount="LIST"></home-bank>
      </div>
    </div>
  </template>

  <script>
      class LoginUser extends Polymer.Element {
          static get is() { return 'login-user'; }

          static get properties() {
              return {
                  formData: {
                      type: Object,
                      value: {}
                  },
                  storedUser: Object,
                  error: String
              }
          }

          _setReqBody() {
              this.$.registerLoginAjax.body = this.formData;
          }

          postLogin() {
              this.$.registerLoginAjax.url = 'http://localhost:3000/api-uruguay/v1/authentication/login';
              this._setReqBody();
              this.$.registerLoginAjax.generateRequest();
          }

          postRegister() {
              this.set('route.path', '/register-user');
          }

          handleUserResponse(event) {
              var response = JSON.parse(event.detail.response);
              if (response.token) {
                  this.error = '';
                  this.storedUser = {
                      name: response.userData.firstName,
                      lastname: response.userData.lastName,
                      username: response.userData.userName,
                      access_token: response.token,
                      loggedin: true
                  };
                  // redirect to Secret Quotes
                  this.set('route.path', '/accounts-list');
              }
              // reset form data
              this.formData = {};
          }

          handleUserError(event) {
            this.error = "Login incorrecto";
          }
      }

      window.customElements.define(LoginUser.is, LoginUser);
  </script>
</dom-module>
